.cameraContainer {
  position: absolute;
}

.checkBoxStyle {
  font-family: Arial, sans-serif;
  text-align: left;
  color: #4a4a4a;
  font-weight: bold;
  font-size: 14px;
}

.videoStream {
  border-radius: 50px;
  border: 2px solid #e6e6e6;
  max-width: 500px;
  max-height: 500px;
}

.displayNone{
  display: none;
}
